/* Fonts */
@font-face {
  font-family: GentiumPlus;
  font-style: normal;
  src: url('GentiumPlus-R.woff') format('woff'),
       url('GentiumPlus-R.ttf') format('truetype');
}
@font-face {
  font-family: GentiumPlus;
  font-style: italic;
  src: url('GentiumPlus-I.woff') format('woff'),
       url('GentiumPlus-I.ttf') format('truetype');
}

/* Page background */
body {
	background-color: black;
	font-family: GentiumPlus, sans-serif;
	color: #ddd;
}
.background {
	margin: auto;
	
	background: #000 url("arboreum.gif") no-repeat scroll 0 0 / 100% auto;

	padding-top: 3.6vh;
	padding-bottom: 3.6vh;
}

/* Header */

.topbar {
	text-align: center;
	background-image: linear-gradient(to bottom,
		rgba(0,32,0, 0.37),
		rgba(0,0,0, 0.65),
		rgba(0,0,0, 0.7));
	border-radius: 12px;
	border: 2px solid black;
	
	margin-left: -0.3vw;
	margin-right: -0.3vw;
	padding-bottom: 1vh;
}
.topbar h1 {
	margin: 0px;
}
.topbar .signon {
	font-size: 70%;
}

/* Content structure */

.content {
	padding: 1em;
	margin-top: 2.6vh;
	margin-bottom: 2.6vh;

	border-radius: 12px;
	border: 2px solid black;
	
	background-color: rgba(0,0,0,0.7);
}
@media (min-width: 0px) {
	.background {
		width: 84vw;
		padding-left: 3vw;
		padding-right: 3vw;
		font-size: 12pt;
	}
}
@media (min-width: 480px) {
	.background {
		width: 74vw;
		font-size: 14pt;
	}
}
@media (min-width: 768px) {
	.background {
		width: 64vw;
		font-size: 14pt;
	}	
}
@media (min-width: 992px) {
	.background {
		width: 56vw;
		padding-left: 2vw;
		padding-right: 2vw;
		font-size: 16pt;
	}
}
@media (min-width: 1200px) {
	.background {
		width: 46vw;
		font-size: 16pt;
	}
}

.content h2 {
	margin-top: 0px;
}

/* Bits of goodness */

.post-info {
	font-size: 10pt;
	color: #aaa;
}

.post-nav {
	font-size: 12pt;
	text-align: center;
}
.post-nav a.nolink {
	color: #aaa;
}
@media (min-width: 480px) {
	.post-nav {
		font-size: 14pt;
	}
}
.post-nav .strut {
	display: inline-block;
	width: 20%;
}

.abstract {
}

hr {
	border: 0;
	height: 1px;
	background-image: linear-gradient(to right,
		rgba(255,255,255,0),
		rgba(255,255,255,0.75),
		rgba(255,255,255,0));
}

.post-text {
	text-align: justify;
}

/* Fixes */

h1,h2,h3,h4,h5,h6 {
	font-weight: normal;
}


a:link,
a:visited {
	color: inherit;
	text-decoration: none;
}
p a:link,
p a:visited {
	color: #66f;
}
a:hover,
p a:hover {
	color: #8ae;
}